* {
  background-color: lightgray;
}
.cornerLogo {
  position: absolute;
  margin-left: -45%;
  width: 120px;
}
.cartButton {
  position: absolute;
  margin-left: 80%;
  margin-top: 20px;
}

.logo-main {
  display: flex;
  margin: 10px 15px 15px 10px;
  right: 10px;
  padding-top: 15px;
  justify-content: space-evenly;
  align-items: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: whitesmoke;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: flex;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 2%;
  background-color: whitesmoke;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #183153;
  color: white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
.bannerImage {
  width: 100%;
}
.productContainer {
  /* border: solid black; */
  width: 70%;
  height: 500px;
  margin-top: 20px;
  margin-left: 15%;
  display: flex;
}
.shirtContainer {
  /* border: solid black; */
  width: 90%;
  height: 90%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.shirtImage {
  /* border: solid black; */
  width: 90%;
  height: 70%;
  margin-left: 5%;
}
.itemDescrip {
  /* border: solid black; */
  width: 90%;
  height: 20%;
  margin-left: 5%;
  margin-top: 5%;
}
.addToCart {
  background-color: #183153;
  font-size: 12px;
  padding: 4px;
  border-radius: 5px;
}
.shirt {
  height: 100%;
}
.carouselImage{
  width: 60%;
  height: 100%;
}
.carouselIndicators{
  display: none;
}